body {
    margin: 0;
    background-color: #FFFFFF;
    font-family: 'Poiret One', cursive;
    font-size: 15px;
    line-height: 1.6;
    color: #FFFFFF;
    user-select: none;
}

*,
*:after,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
/*INTRO*/
.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background:
    url(images/fon2.jpg) center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.intro_inner {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;

    text-align: center;
}
span{
    color: #fbfeff;
    text-shadow:
0 0 7px #04d9ff,
0 0 10px #04d9ff,
0 0 21px #04d9ff,
0 0 42px #fbfeff,
0 0 82px #fbfeff,
0 0 92px #fbfeff;
}

.intro_title {
    color: #FFFFFF;
    font-family: 'Poiret One', cursive;
    font-size: 50px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1;
}

.intro_title:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 60px auto;

    background-color: #FFFFFF;
}

.intro_suptitle {
    margin-bottom: 20px;
    color: #FFFFFF;
    font-size: 45px;
    font-family: 'Poiret One', cursive;
}
/*HEADER*/
.header {
    padding-top: 30px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_logo {
    font-size: 30px;
    font-weight: 700;
    color: #FFFFFF;
}
/*NAVIGATION*/
.nav {
    font-size: 14px;
    font-family: 'Comfortaa', cursive;
    text-transform: uppercase;
}

.nav_link {
    display: inline-block;
    vertical-align: top;
    margin: 0 20px;
    color: #FFFFFF;
    text-decoration: none;
    transition: color 0.2s linear;
    position: relative;
}

.nav_link:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    display: none;

    background-color: #04d9ff;

    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
}

.nav_link:hover {
    color: #04d9ff;
}

.nav_link:hover:after {
    display: block;
}

/*BTN*/
.btn {
    display: inline-block;
    vertical-align: top;
    padding: 8px 30px;
    border: 3px solid #ffffff;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 700;
    font-family: 'Comfortaa', cursive;
    text-transform: uppercase;
    text-decoration: none;
    transition: color 0.2s linear;
    position: relative;
}

.btn:hover {
    color: #04d9ff;
}

.btn:hover:after {
    display: block;
}
.calculator{
    background-color: black;
}
.container2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 4px;
    background-color: black;
    padding: 4px;
    border-radius: 10px;
    max-width: 360px;
    font-family: "Tahoma";

    width: 100%;
    margin: 0 auto;

    text-align: center;
}
.item {
    background-color: #393e46;
    color: white;
    padding: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
}
.t:hover{
    transform: translateY(-1px);
    box-shadow: 0 3px 0 dimgrey;
}
.clean:hover{
    transform: translateY(-1px);
    box-shadow: 0 3px 0 dimgrey;
}
.back:hover{
    transform: translateY(-1px);
    box-shadow: 0 3px 0 dimgrey;
}
.zero:hover{
    transform: translateY(-1px);
    box-shadow: 0 3px 0 dimgrey;
}
.t:active{
    transform: translateY(1px);
    box-shadow: none;
}
.clean:active{
    transform: translateY(1px);
    box-shadow: none;
}
.back:active{
    transform: translateY(1px);
    box-shadow: none;
}
.zero:active{
    transform: translateY(1px);
    box-shadow: none;
}
.z:hover{
    transform: translateY(-1px);
    box-shadow: 0 3px 0 #04d9ff;
}
.z:active{
    transform: translateY(1px);
    box-shadow: none;
}
.equal:hover{
    transform: translateY(-2px);
    box-shadow: 0 3px 0 #41aec2;
}
.equal:active{
    transform: translateY(1px);
    box-shadow: none;
}
form {
    max-width: 100%;
}
input {
    width: 355px;
    height: 60px;
    border: none;
    font-size: 30px;
    outline: none;
    text-align: right;
    background: black;
    color: white;
}
.input {
    grid-column: 1/-1;
    padding: 0;
}
.clean {
    grid-column: 1/3;
    color: #04d9ff;
}
.back {
    grid-column: 3/-1;
    color: #04d9ff;
}
.equal {
    grid-column: 4;
    grid-row: 6/8;
    color: #232931;
    background-color: #04d9ff;
}
.zero {
    grid-column: 1/3;
}
.z{
    color: #04d9ff;
    background-color: rgba(25.49%, 68.24%,76.08%,0.7);
}

.music {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;

    text-align: center;
}

.regular_text {
    font-size: 25px;
}